<div class='card col-8 rounded mt-4 shadow-sm mx-auto'>
  <div class='card-body container'>
    <h4>Make an announcement</h4>
    <%= form_for @announcement do |f| %>
    
    <div>
      <%= f.hidden_field :id, :value => @announcement.id %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
    
      <div class='row'>
        <%= f.text_area :text, placeholder: 'Announcement body', class: 'form-control mb-2 shadow' %>
      </div>
  
      <div class='row'>
        <%= f.text_field :placement_id, placeholder: 'Placement (optional)',class: 'form-control col-sm mb-2 mr-1 shadow' %>
        <%= f.text_field :licensee_id, placeholder: 'Licensee (optional)',class: 'form-control col-sm mb-2 shadow' %>
          
          <div class ='col-sm mt-2'>
          <%= f.label :bed_available, 'Bed Available?', class: 'text-white' %>
          <%= f.check_box :bed_available, class: 'ml-2 shadow mr-3' %>
          </div></div>
          
          <%= f.submit 'Post', class: 'btn btn-standard my-2' %>
        </div>
          
        <% end %>
    </div>
  </div>
</div>