<h3 class='mt-4 mb-4 text-center'>Announcements</h3>

<% @announcements.reverse_each do |a| %>
  <div class='shadow-sm card bg-light col-8 rounded mb-2 mx-auto'>
        <div class='card-body'>
            <ul class='list-group shadow'>
                <li class='list-group-item'><%= a.text %></li>
                <li class='list-group-item'>
                  Licensee: 
                    <% if @announcement.licensee_id != nil %>
                      <%= a.licensee.facility_name %>
                    <% else %>
                      None
                    <% end %>
                  <br>
                  Placement: 
                    <% if @announcement.placement_id != nil %>
                      <%= a.placement.name %>
                    <% else %>
                      None
                    <% end %>
                  <br>
                  Bed available? 
                    <% if @announcement.bed_available == 'true' %>
                      Yes
                    <% else %>
                      No
                    <% end %>
                </li>
            </ul>
            <div class='mt-2'>
              By: <%= a.user.first_name %> <%= a.user.last_name %><br>
              At: <%= a.created_at.strftime("%-I:%M %P %Z: %-m/%-d/%y") %><br>
              <% if current_user && current_user.admin? %>
                  <%= link_to 'Delete', announcement_path(a.id), method: :delete, :data => {:confirm => "Are you sure?"}, class: 'btn btn-danger mt-2' %>
              <% end %>
            </div>
        </div>
    </div>
<% end %>

<%= render 'new' %>
