<h3 class='page-header'>Announcements</h3>

<%= render 'new' %>
<br>
<h3 class='page-header'>Most Recent</h3>

<% if @announcements != [] %>
<div class='card col-8 rounded my-2 mx-auto' >
    <div class='card-body my-3 py-3'>  
    
    <% @announcements.each do |a| %>
      <ul class='list-group col-11 mx-auto'>
        <li class='list-group-item shadow rounded my-1 mx-2'>
          <%= a.text %>
        </li>
        <li class='list-group-item shadow rounded my-1 mx-2'>
          <div class='row'>
            <div class='col'>
            <% if a.placement_id != nil %>
              <%= link_to a.placement.name, placement_path(a.placement.id), class: 'btn btn-info'%>
            <% else %>
              No placement noted.
            <% end %>
            </div>
        
            <div class='col'>
              Bed available:
            <% if a.bed_available == true %>
              Yes
            <% else %>
              No
            <% end %>
            </div>
          </div>
        </li>
        <div class='row'>
          <div class='col ml-4 my-2'><%= a.user.first_name %> <%= a.user.last_name %>
            | <%= a.created_at.strftime("%-I:%M %P | %-m/%-d/%y") %>
          </div>
          
          <% if current_user && current_user == a.user || current_user && 
          current_user.admin? %>
            <div class='col mr-4 my-1'>
            <%#= link_to 'Edit', edit_announcement_path(a.id), class:'btn btn-standard' %>
              <%= link_to 'Delete', announcement_path(a.id), method: :delete, :data => 
              {:confirm => "Are you sure?"}, class: ' btn btn-danger' %>
            </div>
          <% end %>
        </div>
      </ul>
      
      <!--  
      <div class='row mt-1 mb-2 text-white'>
        <p class='col ml-4 my-2'><%= a.user.first_name %> <%= a.user.last_name %>
        | <%= a.created_at.strftime("%-I:%M %P | %-m/%-d/%y") %></p>
          
          <% if current_user && current_user == a.user || current_user && 
          current_user.admin? %>
            <p class='col mr-4 my-1'>
            <%#= link_to 'Edit', edit_announcement_path(a.id), class:'btn btn-standard' %>
              <%= link_to 'Delete', announcement_path(a.id), method: :delete, :data => 
              {:confirm => "Are you sure?"}, class: ' btn btn-danger' %>
            </p>
          <% end %>
        </div>
      -->
        
    <% end %>
  </div>
</div>

<% end %>

