<h3 class='page-header'>Announcements</h3>

<%= render 'new' %>
<br>
<h3 class='page-header'>Most Recent</h3>

<div class='shadow-sm card col-8 rounded mb-2 mx-auto'>
    <div class='card-body'>
<% @announcements.each do |a| %>
      <ul class='list-group shadow'>
        <li class='list-group-item'><%= a.text %></li>
        <li class='list-group-item'>
          Licensee: 
          <% if a.licensee_id != nil %>
            <%= link_to a.licensee.facility_name, licensee_path(a.licensee.id) %>
          <% else %>
            None
          <% end %>
           | Placement: 
          <% if a.placement_id != nil %>
            <%= link_to a.placement.name, placement_path(a.placement.id) %>
          <% else %>
            None
          <% end %>
          | Bed available? 
          <% if a.bed_available == true %>
            Yes
          <% else %>
            No
          <% end %>
          
        </li>
      </ul>
    
  <div class='mt-2 text-white'>
    By <%= a.user.first_name %> <%= a.user.last_name %>
    at <%= a.created_at.strftime("%-I:%M %P on %-m/%-d/%y") %>
    <br>
    <% if current_user && current_user == a.user || current_user && current_user.admin?  %>
      <%#= link_to 'Edit', edit_announcement_path(a.id), class:'btn btn-standard' %>
      <%= link_to 'Delete', announcement_path(a.id), method: :delete, :data => {:confirm => "Are you sure?"}, class: 'btn btn-danger' %>
    <% end %>
  </div>
  <br>
  <% end %>
  
</div>
</div>

