<h3 class='page-header'>Announcements</h3>

<%= render 'new' %>
<br>
<h3 class='page-header'>Most Recent</h3>

<% if @announcements != [] %>
<div class='shadow-sm card col-8 rounded mb-2 mt-2 mx-auto'>
  <div class='card-body rounded my-2'>  
    
    <% @announcements.each do |a| %>
      <ul>
        <div class='row mx-2'>
          <li class='col-3 list-group-item rounded mx-auto my-2'>
              <% if a.placement_id != nil %>
                <%= link_to a.placement.name, placement_path(a.placement.id), class: 'btn btn-info'%>
              <% else %>
                No Placement
              <% end %>
          <br>
              <% if a.bed_available == true %>
                <p class='btn btn-success disabled mt-2 mb-0'>Bed Open</p>
              <% else %>
                <p class='btn btn-danger disabled mt-2 mb-0'>No Bed</p>
              <% end %>
          </li>
        
          <li class='col-8 list-group-item rounded mx-auto my-2'>
            <p class='col text-left font-weight-bold my-0'>
              <%= a.user.first_name %> <%= a.user.last_name %> at <%= a.created_at.strftime("%-I:%M %P on %-m/%-d/%y") %>:
            </p>
            <p class='col text-left my-0'>
              <%= a.text %>
            </p>
            <p class='col text-left my-0'>
              <% if current_user && current_user == a.user || current_user && 
              current_user.admin? %>
                <%= link_to 'Edit', edit_announcement_path(a.id), class:'btn btn-standard' %>
                <%= link_to 'Delete', announcement_path(a.id), method: :delete, :data => 
                {:confirm => "Are you sure?"}, class: ' btn btn-danger' %>
              <% end %>
            </p>
          </li>
        </div>
      </ul>
          <% end %>
  </div>
</div>

<% end %>

