<h3 class='page-header'>Announcements</h3>

<%= render 'new' %>
<br>
<h3 class='page-header'>Most Recent</h3>

<% if @announcements != [] %>
<div class='shadow-sm card col-8 rounded mb-2 mt-2 mx-auto'>
  <div class='card-body rounded my-2'>  
    
    <% @announcements.each do |a| %>
      <ul class='list-group shadow rounded'>
        <div class='row mx-2'>
          <li class='col-3 list-group-item rounded mx-auto my-2'>
            <p class='font-weight-bold m-0'>Placement</p>
          <% if a.placement_id != nil %>
            <%= link_to a.placement.name, placement_path(a.placement.id), class: 'btn btn-info'%>
          <% else %>
            None
          <% end %>
          <p>
          Bed available? 
          <% if a.bed_available == true %>
            Yes
          <% else %>
            No
          <% end %>
          </p>
        
          </li>
        
          <li class='col-8 list-group-item rounded mx-auto my-2'><%= a.text %></li>
  
        </div>
      </ul>
        
      <div class='row mt-1 mb-2 text-white'>
        <p class='col ml-4 my-2'><%= a.user.first_name %> <%= a.user.last_name %>
        | <%= a.created_at.strftime("%-I:%M %P | %-m/%-d/%y") %></p>
          
          <% if current_user && current_user == a.user || current_user && 
          current_user.admin? %>
            <p class='col mr-4 my-1'>
            <%#= link_to 'Edit', edit_announcement_path(a.id), class:'btn btn-standard' %>
              <%= link_to 'Delete', announcement_path(a.id), method: :delete, :data => 
              {:confirm => "Are you sure?"}, class: ' btn btn-danger' %>
            </p>
          <% end %>
        </div>
        
    <% end %>
  </div>
</div>

<% end %>

