<h3 class='page-header'>Edit <%= @user.first_name %> <%= @user.last_name %></h3>
<div class='card bg-dark col-6 rounded mb-2 mt-2 p-2 shadow-sm mx-auto'>
    <div class='card-body'>
<%= form_for(resource, as: resource_name, url: admin_path(@user), html: { method: :patch }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control shadow' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: 'form-control shadow' %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control shadow' %>
  </div>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, class: 'form-control shadow' %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, class: 'form-control shadow' %>
  </div>

  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone, class: 'form-control shadow' %>
  </div>

  </div>
  <!--I've got to figure out how to keep both license_holder and admin from being true at the same time. -->
    <% if @user.license_holder == false%>
      <div class="field">
      <%= f.label :admin, 'Administrator' %>
      <%= f.check_box :admin, class: 'ml-2 shadow' %>
      </div>
    <% end %>

    <% if @user.admin == false %>
      <div class="field">
      <%= f.label :license_holder, 'License Holder' %>
      <%= f.check_box :license_holder, class: 'ml-2 shadow' %>
      </div>
    <% end %>

  <div class="actions">
    <%= f.submit "Update", class: 'btn btn-standard m-2' %>
    <%= link_to "Back", :back, class: 'btn btn-standard ml-4 mr-4' %>
    <%= link_to "Delete Account", admin_destroy_user_path(@user), data: { confirm:
      "Are you sure?" }, class: 'btn btn-danger m-2' %>
  </div>
<% end %>
  </div>
</div>
