<div class='card rounded mt-4 shadow-sm p-4 col-8'>
  <div class='card-body text-white'>
  
  <form action="/" method="get">
    <div class='row form-group'>
      <input type="text" name="query" id="query" placeholder=
      "Search for placements by name, address, county, license-holder, MCO or hospital catchment" 
      class='form-control col shadow my-1 mx-5'>
     </div>
    <div class='row form-group'>
        <select class='shadow custom-select col mr-1 ml-5' name="filtercounty" id="filtercounty">
          <option value="">County</option>
          <%= @counties.each do |c| %>
          <option value="<%= c.id %>"><%= c.name %></option> 
          <% end %>
        </select>
      
      <select class='shadow custom-select col mr-5 ml-1' name="filterservice" id="filterservice">
        <option value="">License Type</option>
        <%= @services.each do |s| %>
          <option value="<%= s.id %>"><%= s.name %></option>
        <% end %>
      </select>
    </div>
    
    <div class='row form-group'>
      <select class='shadow custom-select col mr-1 ml-5' name='filtermco' id='filtermco'>
        <option value="">MCO</option>    
        <option value="Alliance">Alliance</option>
        <option value="Cardinal">Cardinal</option>
        <option value="Eastpointe">Eastpointe</option>
        <option value="Partners">Partners</option>
        <option value="Sandhills">Sandhills</option>
        <option value="Trillium">Trillium</option>
        <option value="Vaya">Vaya</option>
      </select>
      
      <select class='shadow custom-select col mr-5 ml-1' name='filterhospital' id='filterhospital'>
        <option value="">Hospital</option>    
        <option value="Broughton">Broughton</option>
        <option value="CRH">Central Regional</option>
        <option value="Cherry">Cherry</option>
      </select>
    </div>
    
    <div class='row form-group'>
      <input type="submit" value="Go", class='btn btn-search col ml-5 mr-1'>
      <input type="reset" value="Reset Form" class='btn btn-info col mr-5 ml-1'/>
    </div>
  </form>
  
  </div>
</div>

<div class='card rounded mt-4 shadow-sm p-4 col-8'>
  <button data-toggle="collapse" data-target="#tips" class='btn btn-info mb-1 col-4'>Search Tips</button>
  <div id='tips' class='collapse'>

  <div class='card-body p-2 text-secondary text-left'>
    <p class='mb-0'>- Type a general query into the search bar and/or choose
    filters to browse by category. 
    <br>- MCOs and hospitals are linked to a specific county, so adding conflicting 
    filters may not elicit any results.
    <br>- Partial words can be found, misspellings cannot.
    <br>- For a list of all placements, leave form blank and click "Go." 
    <br>- Adding more than 100 placements to your cart at a time may cause an error.</p>
  </div>
  </div>

</div>


<% if (params[:filtercounty] || params[:filterservice] || params[:query] || 
params[:filtermco] || params[:filterhospital]) %> 


<h3 class='page-header'> <%= @placements.count %> Results</h3>

<!--Javascript code to display map of all placements on search index page. -->
<div class='container-fluid'>
  
<div class='row'>
  <div class='card col-8 mx-auto rounded shadow'>
    <div class='card-body p-2 rounded'>
      <div id='map' class='mb-3'></div>
    </div>
  </div>
</div>
  
  <br>
  
<div class='row'>
  
    <div class='card col-8 mx-auto rounded shadow text-white'>
      <p class='my-3 font-weight-bold'>Click on a placement name to view details like referral contact and map</p>
      <div class='card-body p-2 rounded'>
        <div class='row mx-2'>
        <p class='col'>Search: 
        <% if params[:query] != "" %> 
          "<%= params[:query] %>"
        <% else %>
          None
        <% end %>
        </p>
        <p class='col'>County: 
    
        <% if @counties.find_by(id: params[:filtercounty]) != nil %>
          <%= @counties.find_by(id: params[:filtercounty]).name %>
        <% else %>
          Any
        <% end %>
        </p>
        <p class='col'>License Type: 
        <% if @services.find_by(id: params[:filterservice]) != nil %>
          <%= @services.find_by(id: params[:filterservice]).name %></p>
        <% else %>
          Any
        <% end %>
        </p>
        <p class='col'>MCO: 
        <% if @counties.find_by(mco: params[:filtermco]) != nil %>
          <%= @counties.find_by(mco: params[:filtermco]).mco %></p>
        <% else %>
          Any
        <% end %>
        </p>
        <p class='col'>Hospital: 
        <% if @counties.find_by(hospital: params[:filterhospital]) != nil %>
          <%= @counties.find_by(hospital: params[:filterhospital]).hospital %></p>
        <% else %>
          Any
        <% end %>
        </p>
        </div>
    
        <%= link_to 'Add all to Cart', add_all_to_carts_path(
        placement_ids: @placements.ids), method: :get, 
        class: 'btn btn-standard mb-4 col-6 font-weight-bold p-2' %>
        
        <% @placements.each do |p| %>
          <ul class='list-group col-11 mx-auto'>
            <li class='list-group-item my-2 mx-2 shadow rounded'>
              <div class='row'>
              <div class='col'>
              <%= link_to p.name, placement_path(p.id), 
              class: 'btn btn-info border-primary font-weight-bold' %>
              <br>
              <%= p.address %>, <%= p.city %>, <%= p.state %> <%= p.zip %>
              </div>
              <div class='col'>
              <%= link_to 'Add to Cart', add_carts_path(placement_id: p.id), 
              method: :post, class: 'btn btn-search mt-3' %>
              </div>
              </div>
            </li>
          </ul>
        <% end %>
      </div>
  </div>
</div>
</div>
<% end %>

<!--Javascript code to operate map for placements-->
<script>
  // Initialize and add the map
  function initMap() {
    //@locations is defined in the controller.  It is an array of arrays of lat,lng values.  ex [[35.6, -78.5], [35.4, -78.3], ...[lat,lng]]
    var locations = <%=@locations%>;
    var map = new google.maps.Map(
      //centers the map on the first location in the array locations
      document.getElementById('map'), {zoom: 12, center: {lat: locations[0][0], lng: locations[0][1]}});
    //pass each location into addMarker one at a time with a map parameter
    locations.forEach(loc => addMarker(map, loc))
    //add each lat,lng to the specified map
    function addMarker(map, loc) {
       var marker = new google.maps.Marker({position: {lat: loc[0], lng: loc[1]}, map: map});
    };
  };
</script>
  
<script async defer
       src="https://maps.googleapis.com/maps/api/js?key=<%=Rails.application.credentials.google_maps_api_key%>&callback=initMap">
</script>



