 <div class='card rounded mt-5 mb-2 shadow-sm mx-auto col-6'>
   <div class='card-body'>
     <form action="/" method="get">
       <div class='row form-group'>
         <input type="text" name="query" id="query" placeholder="Search by county, city, name..." class='form-control col-10 shadow'>
         <input type="submit" value="Go", class='btn btn-search col-2'>
        </div>
      </form>
    </div>
  </div>

<div class='card col-8 rounded shadow-sm'>
<div class='card-body'>
<% if params[:query] %>  
  <% @placements.order(:name).each do |placement| %>
    
      <ul class='list-group'>
        <li class='list-group-item mt-2 shadow'>
          <%= link_to placement.name, placement_path(placement.id), class: 'border-bottom border-primary font-weight-bold' %><br>
          <%= placement.address %><br>
          <%= placement.city %>, <%= placement.state %> <%= placement.zip %>
          <div>
            <% if current_user && current_user.admin? %>
              <%= link_to 'Edit Placement', edit_placement_path(placement.id), class: 'btn btn-standard' %>
            <% end %>
            <%= link_to 'Add Placement to Cart', add_carts_path(placement_id: placement.id, search: params[:search]), method: :post, class: 'btn btn-standard' %>
          </div>
        </li>
    
  <% end %>
<% end %>
</div>
</div>



