<!--Form to add new placement to database. Should only be accessible to admins. 
Spelled out all variables. Added .sort method to licensees, services, and counties so display in
aphebetical order.-->

<%= bootstrap_form_for @placement do |f| %>
    <div>
      <%= f.hidden_field :id, :value => @placement.id %>
        <div class='row'>
          <div class='col'>
            <%= f.select :licensee_id, @licensees.collect { |licensee| [licensee.facility_name, licensee.id]}.sort, :prompt => 'Select License Holder'%> 
          </div>
          <div class='col'>
            <%= f.select :county_id, @counties.collect { |county| [county.name, county.id]}.sort, :prompt => 'Select County'%>
          </div>
        </div>
        <div class='row'>
          <div class='col'>
            <%= f.text_field :name, placeholder: 'Enter the name of your home or facility.'%>
          </div>
        </div>
        <div class='row'>
          <div class='col'>
            <%= f.text_field :address, placeholder: 'Enter your physical address.'%>
          </div>
        </div>
        <div class='row'>
          <div class='col'>
            <%= f.text_field :city, placeholder: 'City'%> 
          </div>
          <div class='col-2'>
            <%= f.text_field :state, placeholder: 'State', :value => 'NC'%>
          </div>
          <div class='col-2'>
            <%= f.text_field :zip, placeholder: 'Zip Code'%> 
          </div>
          <div class='col-3'>
            <%= f.telephone_field :phone, placeholder: '(123)456-7890'%>
          </div>
        </div>
        <div class='row'>
          <div class='col'>
            <%= f.select :service_id, @services.collect { |service| [service.name, service.id]}.sort, :prompt => 'Select Service Type'%>
          </div>
          <div class='col'>
            <%= f.text_field :beds, placeholder: 'Enter # of beds.'%>
          </div>
          <div class='col'>
            <%= f.select :gender, ["Male", "Female", "Co-Ed", "Other"], :prompt => 'Select Gender' %>
          </div>
        </div>
        <div class='row text-center'>
          <div class='col'>
            <%= f.submit 'Save', data: { disable_with: false }, class: "btn btn-primary"%>            
          </div>
        </div>
    </div>
<% end %>

<div class='row'>
  <div class='col'>
    <img src='https://image.flaticon.com/icons/png/512/16/16116.png' height=30px>
    <%= link_to "Back", admins_path, class: 'btn btn-secondary' %>
  </div>
</div>