<div class='card col-8 rounded mt-4 shadow mx-auto'>
    <div class='card-body my-2'>
        <h4 class='title'>Add Comment</h4>
        <%= form_for @comment do |f| %>
            <%= f.hidden_field :placement_id, :value => @placement.id %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= f.text_area :text, placeholder: 'Comment', class: 'form-control mx-auto mb-2 shadow' %>
            <%= f.submit 'Submit', class: 'btn btn-info col-2' %>
        <% end %>
    </div>
</div>