
<!-- <h3>Placements</h3> -->
<br>
<%= link_to 'New Placement', new_placement_path, class: 'btn btn-primary' %>
<br><br>
=======


<h4> <!--Click on a placement to view details --> </h4>

<!--  <div class='card bg-light col-6 rounded mb-0'>
      <div class='card-body'> -->
        <%= search_form_for @q do |f| %> 


        <%= f.search_field :name_or_licensee_id_or_address_or_city_or_state_or_zip_or_county_or_phone_or_gender_or_beds_cont %>
     
      
        <%= f.submit %>

        <br>
        <br>


        <% end %>

        <!-- <form action="/" method="get">

  <div class='card bg-light col-6 rounded mb-0 shadow-sm'>
    <div class='card-body'>
        <form action="/" method="get">

          <div class='row form-group'>
            <input type="text" name="search" placeholder="Search" class='form-control col-10 mr-2 shadow'>
            <input type="submit" value="Go", class='btn btn-primary col-1'>
          </div>
        </form>

      </div>
    </div> -->


    <%= link_to 'View All Placements', placements_path, class: 'btn btn-info mt-2' %></br>
   <%# Add another class for the color and into the css code %>



   

    <div class='card bg-light col-3 rounded mb-0'>
      <div class='card-body'>
   

        <% @placements.each do |p| %>
        <div>
          <p><%= link_to p.name, placement_path(p.id) %></p>
          <%= p.address %>
          <p><%= p.city %>, <%= p.state %>, <%= p.zip %></p>
          <%= link_to 'Edit', edit_placement_path(p.id), class: 'btn btn-primary mt-2' %>
        </div>
        <% end %>

       </div>
    </div>

  
    <% link_to 'Download Search Results', placements_path(format: :xlsx), class: 'btn btn-primary mt-2' %>

    </div>
  </div>
  <%= link_to 'Clear Search', placements_path, class: 'btn btn-primary mt-2' %>


<% if params[:search] %>
  <div class='card bg-light col-4 rounded mt-2 shadow-sm'>
    <div class='card-body'>
      <h2>Search Results</h2>
      <% @placements_search.each do |placement| %>
        <div>
          <ul class='list-group'>
            <li class='list-group-item mt-2 shadow'>
              <%= link_to placement.name, placement_path(placement.id), class: 'border-bottom border-primary font-weight-bold' %><br>
              <%= placement.address %><br>
              <%= placement.city %>, <%= placement.state %> <%= placement.zip %>
              <% if current_user && current_user.admin? %><br>
                <%= link_to 'Edit', edit_placement_path(placement.id), class: 'btn btn-primary mt-2' %>
              <% end %>
            <%= link_to 'Add Placement to Cart', add_carts_path(placement_id: placement.id, search: params[:search]), method: :post, class: 'btn btn-primary mt-2' %>
            </li>
          </div>
      <% end %>
    </div>
  </div> 
<% else %>

<h3 class='mt-4 mb-4'>All Placements</h3>
  
<% @placements.each do |placement| %>
    <div class='card bg-light col-4 rounded mt-2 shadow-sm'>
        <div class='card-body'>
            <ul class='list-group'>
                <li class='list-group-item mt-2 shadow'>
                    <%= link_to placement.name, placement_path(placement.id), class: 'border-bottom border-primary font-weight-bold' %><br>
                    <%= placement.address %><br>
                    <%= placement.city %>, <%= placement.state %> <%= placement.zip %>
                    <% if current_user && current_user.admin? %><br>
                        <%= link_to 'Edit', edit_placement_path(placement.id), class: 'btn btn-primary mt-2' %>
                    <% end %>
                    <%= link_to 'Add Placement to Cart', add_carts_path(placement_id: placement.id, search: params[:search]), method: :post, class: 'btn btn-primary mt-2' %>
                </li>
            </ul>
        </div>
    </div> 
<% end %>
<% end %>


   



<!-- <%# if @cart.cart_placements.any? %>
  
  <div class='card bg-light col-6 rounded mb-2' >
    <div class='card-body'>
      <ul class='list-group'>
        <%# @cart.cart_placements.each do |placement| %>
          <li class='list-group-item'>
            <%#= placement.placement.name %> | <%#= placement.placement.address %> <%#= placement.placement.city %><%#= link_to "Remove", remove_cart_path(@cart, placement_id: placement.id), :method => "delete", :data => {:confirm => "You sure?"}, class: 'btn btn-danger ml-2' %>
          </li>
        <%# end %>
      </ul>
    </div>
  </div>
  <%#= link_to 'Download Search Results', placements_path(search: params[:search], format: :xlsx), class: 'btn btn-primary mt-2' %>
<%# end %>
-->



    <%=
    link_to 'Upload from Excel',
    new_placements_import_path, class: 'btn btn-primary mt-2'
    %>