
<h3 class='page-header'>All Homes</h3>

<div class='card col-6 rounded shadow-sm'>
    
  <h4 class='mt-2 text-center'>Click on a home or licensee to view details</h4>
    
  <div class='card-body'>
    <% @licensees.order(:facility_name).each do |l| %>
      <ul class='list-group'>
        <li class='list-group-item-info mt-2 shadow'>
          <%= link_to l.facility_name, licensee_path(l.id), 
          class: 'border-bottom border-primary font-weight-bold' %>
        </li>
        <li class='list-group-item mt-2 shadow'>
          <% l.placements.each do |p| %>
            <%= link_to p.name, placement_path(p.id), class: 
            'border-bottom border-primary font-weight-bold' %>
            <br>
            <%= p.address %>
            <br>
            <%= p.city %>, <%= p.state %> <%= p.zip %>
            <br>
            <%= link_to 'Add to Cart', add_carts_path(placement_id: 
            p.id), method: :post, class: 'btn btn-primary mt-2' %>
            <br>
          <% end %>
        </li>
      </ul>     
    <% end %>
  </div>
</div> 

)
  
