<h3 class='mt-4 mb-4'>Placement Index</h3>


<h4>Click on a placement to view details</h4>


<!-- <div class='row'> -->
  <div class='card bg-light col-6 rounded mb-0'>
    <div class='card-body'>
        <form action="/" method="get">
          <div class='row form-group'>
            <input type="text" name="search" placeholder="Search" class='form-control col-10 mr-2'>
            <input type="submit" value="Go", class='btn btn-primary col-1'>
          </div>
        </form>
    </div>
  </div>
  <%= link_to 'New Search', placements_path, class: 'btn btn-primary mt-2' %>


<% if params[:search] %>
    <% @placements.each do |placement| %>
      <div>
        <div class='card bg-light col-4 rounded mt-2'>
          <div class='card-body'>
            <ul class='list-group'>
              <li class='list-group-item'>
                <%= link_to placement.name, placement_path(placement.id), class: 'border-bottom border-primary' %><br>
                <%= placement.address %><br>
                <%= placement.city %>, <%= placement.state %> <%= placement.zip %>
              <% if current_user && current_user.admin? %><br>
                <%= link_to 'Edit', edit_placement_path(placement.id), class: 'btn btn-primary mt-2' %>
              <% end %>
              <%= link_to 'Add Placement to Cart', add_carts_path(placement_id: placement.id), method: :post, class: 'btn btn-primary mt-2' %>
              <%#= form_for @cart_placement do |f| %>
                <%#= f.hidden_field :placement_id, value: placement.id %>
                <%#= f.submit "Add Placement to Cart", class: 'btn btn-primary mt-2' %>
              <%# end %>
            </li>
          </div>
        </div>
      </div>  
    <% end %>
      
    
  <% end %>
  

 <!-- <%# @products.each do |product| %>
  <p><%#= product.name %> | <%#= number_to_currency product.price %>
  <%#= form_for @order_item do |f| %>
    <%#= f.hidden_field :product_id, value: product.id %>
    <%#= f.number_field :quantity %>
    <%#= f.submit "Add to cart" %>
  <%# end %></p>
<%# end %>
-->


<div>
  <% if params[:search] %>
  <%= link_to 'Download Search Results', placements_path(search: params[:search], format: :xlsx), class: 'btn btn-primary mt-2' %>
  <% end %>



</div>

<%=
  link_to 'Upload from Excel',
  new_placements_import_path, class: 'btn btn-primary mt-2'
%>
  


  


<% if @cart.cart_placements.any? %>
  <h2>Placement Cart</h2>
  <% @cart.cart_placements.each do |placement| %>
    <div class='card bg-light col-5 rounded mb-0'>
      <div class='card-body'>
        <div>
          <%= placement.placement.name %><br>
          <%= placement.placement.address %><br>
          <p><%= placement.placement.city %>, <%= placement.placement.state %>, <%= placement.placement.zip %></p>
          <%#= link_to 'Remove Placement from Cart', remove_cart_path(@cart, cart_placement_id: cart_placement.id), method: :delete, class: 'btn btn-danger mt-2' %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>


<!--<%# if @cart.cart_placements.any? %>
  <%# @cart.cart_placements.each do |placement| %>
    <p><%#= placement.placement.name %> | <%#= placement.placement.address %> <%#= placement.placement.city %><%#= link_to "Delete", remove_cart_path(@cart, cart_placement_id: cart_placement.id), :method => "delete", :data => {:confirm => "You sure?"} %></p>
  <%# end %>
<%# else %>
  <p>Your shopping cart is empty.</p>
<%# end %>-->


