<h3>Placement Index</h3>
<br>
<h4>Click on a placement to view details</h4>



  <div class='card bg-light col-6 rounded mb-0'>
      <div class='card-body'>
        <%= search_form_for @q do |f| %>


        <%= f.label :name %>
        <%= f.search_field :name_cont %>
        <br>
        <%= f.label :city %>
        <%= f.search_field :city_cont %>
        <br>
        <%= f.label :county %>
        <%= f.search_field :county_cont %>
        <br>


        <%= f.submit %>
      <% end %>






        <!-- <form action="/" method="get">
          <div class='row form-group'>
            <input type="text" name="search" placeholder="Search" class='form-control col-10 mr-2'>
            <input type="submit" value="Go", class='btn btn-primary col-1'>
          </div>
        </form> -->
      </div>
    </div>
  <%= link_to 'New Search', placements_path, class: 'btn btn-primary mt-2' %>





<%# if params[:search] %>

<div class='card bg-light col-3 rounded mb-0'>
      <div class='card-body'>
<% if params[:search] %>

  <% @placements.each do |p| %>
    <div>
        <p><%= link_to p.name, placement_path(p.id) %></p>
        <%= p.address %>
        <p><%= p.city %>, <%= p.state %>, <%= p.zip %></p>
        <%= link_to 'Edit', edit_placement_path(p.id), class: 'btn btn-primary mt-2' %>
    </div>
  <% end %>

<%# end %>

<% end %>
  </div>
</div>



<div>
  <%# if params[:search] %>
  <%# link_to 'Download Search Results', placements_path(format: :xlsx), class: 'btn btn-primary mt-2' %>
  <%# end %>



</div>

<%=
  link_to 'Upload from Excel',
  new_placements_import_path, class: 'btn btn-primary mt-2'
%>
  
</div>

