<h3>Placement details</h3>
<br>

<div class='card bg-light col-4 rounded mb-0'>
    <div class='card-body'>
        <h2><%= @placement.name %></h2>
        <p><%= @placement.address %></p>
        <p><%= @placement.city %>, <%= @placement.state %> <%= @placement.zip %></p>
        <p>County: <%= @placement.county %></p>
        <p>Placement Phone: <%= @placement.phone %></p>
    </div>
</div>

<div class='card bg-light col-4 rounded mb-0'>
    <div class='card-body'>
        <h5>To refer a potential resident, contact:</h5>
        <p><%= @licensee.contact_name %></p>
        <p>Phone: <%= @licensee.phone %></p>
        <p>Fax: <%= @licensee.fax %></p>
        <%= link_to 'View Licensee', licensee_path(@placement.licensee_id) %>
    </div>
</div>

<div class='card bg-light col-4 rounded mb-0'>
    <div class='card-body'>
        <h4>Other</h4>
        <p>Gender: <%= @placement.gender %></p>
        <p>Beds: <%= @placement.beds %></p>
        <br>
        <%= link_to 'Edit', edit_placement_path(@placement.id), class='btn btn-secondary' %> 
        <br>
        <%= link_to 'Delete', placement_path(@placement.id), method: :delete, class='btn btn-danger' %>
    </div>
</div>

<h2>Comments</h2>
<h4>New Comment</h4>
<%= render 'new_comment' %>

<% @comments.each do |c| %>
    <div class='card bg-light col-6 rounded mb-0'>
        <div class='card-body'>
            <%= c.text %>
            <br>
            <p>By: <%= c.user.email %></p>
            <p> At: <%= c.created_at %></p>
            <%= link_to 'Delete', comment_path(c.id), method: :delete, class='btn btn-danger' %>
        </div>
    </div>
<% end %>



<%#= @placement.service_id %>


