<h3 class='mt-4 mb-4 text-center'>Placement details</h3>


<div class='shadow-sm card bg-light col-8 rounded mb-2 mx-auto'>
    <div class='card-body'>
        <h2><%= @placement.name %></h2>
        <ul class='list-group shadow mb-2'>
            <li class='list-group-item'><%= @placement.address %></li>
            <li class='list-group-item'><%= @placement.city %>, <%= @placement.state %> <%= @placement.zip %></li>
            <li class='list-group-item'>County: <%= @placement.county %></li>
            <li class='list-group-item'>Placement Phone: <%= @placement.phone %></li>
        </ul>
        <div>
            <%= link_to 'Add Placement to Cart', add_carts_path(placement_id: @placement.id), method: :post, class: 'btn btn-primary mt-2' %>
        </div>
    </div>
</div>

<div class='shadow-sm card bg-light col-8 rounded mb-2 mx-auto'>
    <div class='card-body'>
        <h5>To refer a potential resident, contact:</h5>
        <ul class='list-group shadow mb-2'>
            <li class='list-group-item'><%= @licensee.contact_name %></li>
            <li class='list-group-item'>Phone: <%= @licensee.phone %></li>
            <li class='list-group-item'>Fax: <%= @licensee.fax %></li>
        </ul>
 
        <%= link_to 'View Licensee', licensee_path(@placement.licensee_id), class: 'btn btn-primary mt-2' %>
    </div>
</div>

<div class='shadow-sm card bg-light col-8 rounded mb-5 mx-auto'>
    <div class='card-body'>
        <h4>Other</h4>
        <ul class='list-group shadow mb-2'>
            <li class='list-group-item'>Gender: <%= @placement.gender %></li>
            <li class='list-group-item'>Beds: <%= @placement.beds %></li>
        </ul>
        <% if current_user && current_user.admin? %>
            <%= link_to 'Edit', edit_placement_path(@placement), class: 'btn btn-primary mt-2' %> 
        
            <%= link_to 'Delete Placement', placement_path(@placement), method: :delete, :data => {:confirm => "Are you sure?"}, class: 'btn btn-danger ml-2 mt-2' %>
        <% end %>
    </div>
</div>

<h2 class='text-center'>Comments</h2>
<!--<h4 class='text-center'>New Comment</h4> -->

<% @comments.reverse_each do |c| %>
    <div class='shadow-sm card bg-light col-8 rounded mb-2 mx-auto'>
        <div class='card-body'>
            <ul class='list-group shadow'>
                <li class='list-group-item'><%= c.text %></li>
            </ul>
            <div class='mt-2'>
                By: <%= c.user.first_name %> <%= c.user.last_name %><br>
                At: <%= c.created_at.strftime("%-I:%M %P %Z: %-m/%-d/%y") %><br>
                <% if current_user && current_user.admin? %>
                    <%= link_to 'Delete', comment_path(c.id), method: :delete, :data => {:confirm => "Are you sure?"}, class: 'btn btn-danger mt-2' %>
                <% end %>
            </div>
        </div>
    </div>
<% end %>

<%= render 'new_comment' %>





<%#= @placement.service_id %>


