<!--Update to remove API Key and replace with Rails Credentials-->
<!--Code to load interactive maps begin-->
<script src="//maps.google.com/maps/api/js?key=AIzaSyAAph3NebKd1a69uEu9XFszJ9j6rV0Z5cM"></script>

<% if current_user && current_user.admin? %>
    <div class='shadow-sm card col-6 rounded mb-2 mx-auto'>
        <div class='card-body'>
            <h2 class="title">Admin Options</h2>
            <%= link_to 'Edit Placement', edit_placement_path(@placement), class: 'btn btn-standard mt-2' %> 
            <%= link_to 'Delete Placement', placement_path(@placement), method: :delete, :data => {:confirm => "Are you sure?"}, class: 'btn btn-standard ml-2 mt-2' %>
        </div>
    </div>
<% end %>

<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
    <script>
      document.addEventListener("DOMContentLoaded", function(){
        initMap(<%=@placement.latitude%>, <%=@placement.longitude%>)
      });
    </script>
<% end %>
<!--Code for interactive maps ends-->

<div class='row'>
  <h3 class='page-header'>Placement Details</h3>
    
    <% if current_user && current_user.admin? %>
        <div class='shadow-sm card col-6 rounded mb-2 mx-auto'>
            <div class='card-body'>
                <h2 class="title">Admin Options</h2>
                <%= link_to 'Edit Placement', edit_placement_path(@placement), class: 'btn btn-standard mt-2' %> 
                <%= link_to 'Delete Placement', placement_path(@placement), method: :delete, :data => {:confirm => "Are you sure?"}, class: 'btn btn-standard ml-2 mt-2' %>
            </div>
        </div>
    <% end %>
</div>

<div class='row'>
  <div class='col'>
    <div class='shadow-sm card col-6 rounded mb-2 mx-auto'>
      <div class='card-body'>
          <h2 class='title'><%= @placement.name %></h2>
          <div>
              <%= link_to 'Add Placement to Cart', add_carts_path(placement_id: @placement.id), method: :post, class: 'btn btn-standard my-2' %>
          </div>
          <ul class='list-group shadow mb-2'>
              <li class='list-group-item'><%= @placement.address %>, <br>
              <%= @placement.city %>, <%= @placement.state %> <%= @placement.zip %> <br>
              <!--<li class='list-group-item'>-->
              <!--    Latitude: < @placement.latitude %> <br>-->
              <!--    Longitude: <= @placement.longitude %> <br>-->
              <!--    Full Address: <=@placement.full_address_1 %>-->
              <!--</li>-->
              County: <%= @placement.county %><br>
              Home Phone: <%= @placement.phone %></li>
              <li class='list-group-item'>
                  Gender: <%= @placement.gender %> <br>
                  Beds: <%= @placement.beds %>
              </li>
          </ul>
      </div>
  </div>

  <div class='shadow-sm card col-6 rounded mb-2 mx-auto'>
      <div class='card-body'>
          <h2 class='title'>Referral Contact</h2>
          <ul class='list-group shadow mb-2'>
              <li class='list-group-item'><%= @licensee.contact_name %></li>
              <li class='list-group-item'>Phone: <%= @licensee.phone %></li>
              <li class='list-group-item'>Fax: <%= @licensee.fax %></li>
          </ul>
   
          <%= link_to 'View Licensee', licensee_path(@placement.licensee_id), class: 'btn btn-standard mt-2' %>
      </div>
    </div>
  </div>

  <div class='col-5'>
    <div id="map"></div>
   
    <h3>Nearby Locations</h3>
      <ul>
        <% if @placement.nearbys(10) != nil %>
            <% for placement_1 in @placement.nearbys(10) %>
              <li><%= link_to placement_1.full_address_1 %> (<%= placement_1.distance.round(2) %> miles)</li>
            <% end %>
        <% else %>
            <p> Near by locations not found.</p>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<h3 class='page-header'>Comments</h3>

<%= render 'new_comment' %>
<br>
<% @comments.reverse_each do |c| %>
    <div class='shadow-sm card col-6 rounded mb-2 mx-auto'>
        <div class='card-body'>
            <ul class='list-group shadow'>
                <li class='list-group-item'><%= c.text %></li>
            </ul>
            <div class='mt-2 text-white'>
                By <%= c.user.first_name %> <%= c.user.last_name %>
                at <%= c.created_at.strftime("%-I:%M %P on %-m/%-d/%y") %><br>
                <% if current_user && current_user.admin? || current_user == c.user %>
                    <%= link_to 'Delete', comment_path(c.id), method: :delete, :data => {:confirm => "Are you sure?"}, class: 'btn btn-danger mt-2' %>
                <% end %>
                <% if current_user && current_user == c.user %>
                    <%= link_to 'Edit', edit_comment_path(c.id), class:'btn btn-standard' %>
                <% end %>
            </div>
        </div>
    </div>
<% end %>

