<div class='mt-4 mb-4'>
    <h3>Placement details</h3>
</div>


<div class=' shadow-sm card bg-light col-4 rounded mb-2'>
    <div class='card-body'>
        <h2><%= @placement.name %></h2>
        <ul class='list-group'>
            <li class='list-group-item'><%= @placement.address %></li>
            <li class='list-group-item'><%= @placement.city %>, <%= @placement.state %> <%= @placement.zip %></li>
            <li class='list-group-item'>County: <%= @placement.county %></li>
            <li class='list-group-item'>Placement Phone: <%= @placement.phone %></li>
        </ul>
    </div>
</div>

<div class='shadow-sm card bg-light col-4 rounded mb-2'>
    <div class='card-body'>
        <h5>To refer a potential resident, contact:</h5>
        <ul class='list-group'>
            <li class='list-group-item'><%= @licensee.contact_name %></li>
            <li class='list-group-item'>Phone: <%= @licensee.phone %></li>
            <li class='list-group-item'>Fax: <%= @licensee.fax %></li>
        </ul>
 
        <%= link_to 'View Licensee', licensee_path(@placement.licensee_id), class: 'btn btn-primary mt-2' %>
    </div>
</div>

<div class='shadow-sm card bg-light col-4 rounded mb-5'>
    <div class='card-body'>
        <h4>Other</h4>
        <ul class='list-group'>
            <li class='list-group-item'>Gender: <%= @placement.gender %></li>
            <li class='list-group-item'>Beds: <%= @placement.beds %></li>
        </ul>
        <br>
        <%= link_to 'Edit', edit_placement_path(@placement.id), class: 'btn btn-primary mt-2' %> 
        <br>
        <%= link_to 'Delete', placement_path(@placement.id), method: :delete, class: 'btn btn-danger mt-2' %>

    </div>
</div>

<h2>Comments</h2>
<h4>New Comment</h4>
<%= render 'new_comment' %>

<% @comments.each do |c| %>
    <div class='shadow-sm card bg-light col-6 rounded mb-2'>
        <div class='card-body'>
            <ul class='list-group'>
                <li class='list-group-item'><%= c.text %></li>
            </ul>
            <br>
            By: <%= c.user.first_name %> <%= c.user.last_name %><br>
            At: <%= c.created_at.strftime("%-I:%M %P %Z: %-m/%-d/%y") %><br>
            <%= link_to 'Delete', comment_path(c.id), method: :delete, class: 'btn btn-danger mt-2' %>
        </div>
    </div>
<% end %>



<%#= @placement.service_id %>


