<div class='mt-4 mb-4'>
  <h3>Placement Cart (<%= @cart.cart_placements.length %>)</h3>
</div>

<% if @cart.cart_placements.any? %>
  <% @cart.cart_placements.each do |placement| %>
    <div class='card bg-light col-6 rounded mb-2' >
      <div class='card-body'>
        <ul class='list-group'>
          <li class='list-group-item'>
            <%= placement.placement.name %> | <%= placement.placement.address %> <%= placement.placement.city %><%= link_to "Remove", remove_cart_path(@cart, placement_id: placement.id), :method => "delete", :data => {:confirm => "You sure?"}, class: 'btn btn-danger ml-2' %>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
<% else %>
  <p>Your shopping cart is empty.</p>
<% end %>