<h3 class='page-header'>My Cart</h3>

<% if @cart.cart_placements.any? %>
  
  <div class='card col-4 rounded'>
    <div class='card-body p-4'>
      <%= link_to 'Empty Cart', cart_path(@cart), method: :delete, :data => {:confirm => "Are you sure?"}, class: 'btn btn-danger mt-2 mr-3 mb-1' %> 
      <%= link_to 'Download to Excel', carts_path(format: :xlsx), class: 'btn btn-search mt-2 ml-3 mb-1' %>
    </div>
  </div>
  
  <br>
  
  <div class='card col-8 rounded mb-2 mx-auto' >
    <div class='card-body'>
      <h5><%= @cart.cart_placements.length %> Items</h5>
        
          <% @cart.cart_placements.each do |placement| %>
          <ul class='list-group col-11 mx-auto'>  
            <li class='list-group-item my-2 mx-2 shadow rounded'>
              <div class='row'>
              <div class='col'>
              <%= link_to "#{placement.placement.name}", placement_path(placement.placement.id), class: 'btn btn-info border-primary font-weight-bold' %> <br>
              <%= placement.placement.address %>, <%= placement.placement.city %>, <%= placement.placement.state %> <%= placement.placement.zip %>
              </div>
              <div class='col'>
                <%= link_to "Remove", remove_cart_path(@cart, placement_id: placement.id), :method => "delete", :data => {:confirm => "Are you sure?"}, class: 'btn btn-standard mt-2 col-3' %>
              </div>
              </div>
            </li>
          </ul>
          <% end %>
      
    </div>
  </div>

<% else %>
  <div class='card col-8 rounded mb-2 mx-auto' >
    <div class='card-body'>
      <h5>Your cart is empty.</h5>
    </div>
  </div>
<% end %>

