<h4 class='mt-4 mb-4 text-center'>Edit Your Profile: <%= current_user.first_name %> <%= current_user.last_name %></h4>
<div class='card bg-light col-6 rounded mb-2 mx-auto'>
    <div class='card-body'>
    <%= form_for(resource, as: resource_name, url: profile_path(current_user), html: { method: :patch }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>


  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  
  <% if current_user && current_user.admin? %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control shadow' %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: 'form-control shadow' %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control shadow' %>
  </div>
  
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, class: 'form-control shadow' %>
  </div>
    <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, class: 'form-control shadow' %>
  </div>
    <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone, class: 'form-control shadow' %>
  </div>



  <div class="actions">
    <%= f.submit "Update", class: 'btn btn-primary mb-2 mt-2' %>
  </div>
<% end %>
  </div>
</div>


<div class='text-center'>
  <p><%= button_to "Delete Account", admin_path(current_user), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger mb-2 mt-2' %></p>

  <%= link_to "Back", :back, class: 'btn btn-primary mb-2 mt-2' %>
</div>
