<h3 class='mt-4 mb-4'>Edit <%= resource_name.to_s.humanize %></h3>
<div class='card bg-light col-3 rounded mb-2'>
    <div class='card-body'>
    <%= form_for(resource, as: resource_name, url: admin_path(@user), html: { method: :patch }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>


  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: 'form-control shadow' %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control shadow' %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control shadow' %>
  </div>
  
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, class: 'form-control shadow' %>
  </div>
    <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, class: 'form-control shadow' %>
  </div>
    <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone, class: 'form-control shadow' %>
  </div>



  <div class="actions">
    <%= f.submit "Update", class: 'btn btn-primary mb-2 mt-2' %>
  </div>
<% end %>
  </div>
</div>




<%= link_to "Back", :back, class: 'btn btn-primary mb-2 mt-2' %>
