
<div class='card bg-light col-6 rounded mb-0'>
    <div class='card-body'>
    <%= form_for @licensee do |f| %>
    <div>
        
        <%= f.hidden_field :id, :value => @licensee.id %>
        <div class='form-group'>
            <%= f.text_field :facility_name, placeholder: 'Agency Name' %>
            <%= f.text_field :contact_name, placeholder: 'Contact Name' %>
        </div>
        
        <div class='form-group'>
            <%= f.text_field :address, placeholder: 'Address' %>
            <%= f.text_field :city, placeholder: 'City' %>
        </div>
            
        <div class='form-group'>    
            <%= f.text_field :state, placeholder: 'State', :value => 'NC' %>
            <%= f.text_field :zip, placeholder: 'Zip' %>
        </div>    
        
        <div class='form-group'>    
            <%= f.text_field :phone, placeholder: 'Phone' %>
            <%= f.text_field :fax, placeholder: 'Fax' %>
        </div>    
        
        <div>    
            <%= f.submit 'Save', class: 'btn btn-primary' %>
        </div>
    </div>
    <% end %>
    </div>
</div>
<p></p>