<%= form_for @licensee do |f| %>
<div>
    <%= f.hidden_field :id, :value => @licensee.id %>
    <%= f.text_field :facility_name, placeholder: 'Agency Name' %>
    <%= f.text_field :contact_name, placeholder: 'Contact Name' %>
    <%= f.text_field :address, placeholder: 'Address' %>
    <%= f.text_field :city, placeholder: 'City' %>
    <%= f.text_field :state, placeholder: 'State', :value => 'NC' %>
    <%= f.text_field :zip, placeholder: 'Zip' %>
    <%= f.text_field :phone, placeholder: 'Phone' %>
    <%= f.text_field :fax, placeholder: 'Fax' %>
    <%= f.submit 'Save' %>
</div>
<% end %>