
<!-- <h3>Licensees</h3> -->

<br>
<%= link_to 'New Licensee', new_licensee_path, class: 'btn btn-primary' %>
<br><br>

<!-- <div class='card bg-light col-6 rounded mb-0'>
  <div class='card-body'> -->


    <%= link_to 'View All Licensees', licensees_path, class: 'btn btn-info mt-2' %>

    <br>
    <br>

    <% @licensees.each do |l| %>
    <div class='card bg-light col-3 rounded mb-0 text-center'>
        <div class='card-body'>
            <%= link_to l.contact_name, licensee_path(l.id) %> <br>
            <%= l.address %> <br>
            <%= l.city %>, <%= l.state %> <%= l.zip %>
           

        </div>
    </div>

    <% end %>

<!-- <h3 class='mt-4 mb-2'>Licensees</h3>


<div class='card bg-light col-3 rounded shadow-sm'>
  <div class='card-body'> -->
    <% # @licensees.each do |l| %>
      <!-- <ul class='list-group'>
        <li class='list-group-item mt-2 shadow'>
          <%= # link_to l.facility_name, licensee_path(l.id), class: 'border-bottom border-primary' %>
        </li>
      </ul>
    <% # end %>
  </div>
</div> -->

