
<br>
<p class='btn btn-primary'>Licensee Details</p>


<div class='card bg-light col-6 rounded mb-3 shadow-sm'>
    <div class='card-body'>
        <h4><%= @licensee.facility_name %></h4>
        <ul class='list-group shadow'>
            <li class='list-group-item'>Contact: <%= @licensee.contact_name %></li>
            <li class='list-group-item'>Phone: <%= @licensee.phone %></li>
            <li class='list-group-item'>Fax: <%= @licensee.fax %></li>
            <li class='list-group-item'><%= @licensee.address %></li>
            <li class='list-group-item'><%= @licensee.city %>, <%= @licensee.state %> <%= @licensee.zip %></li>
        </ul>

        <br>
        <% if current_user && current_user.admin? %>
            <div>
                <%= link_to 'Edit', edit_licensee_path(params[:id]), class: 'btn btn-primary' %>
                <%= link_to 'Delete', licensee_path(params[:id]), method: :delete, :data => {:confirm => "Are you sure?"}, class: 'btn btn-danger ml-2' %>
            </div>
        <% end %>
    </div>
</div>


<% @licensee.placements.each do |placement| %>
    <div class='card bg-light col-4 rounded mb-2 shadow-sm'>
        <div class='card-body'>
          <h5>Placement</h5>
            <div>
                <ul class='list-group'>
                    <li class='list-group-item mt-2 shadow'>
                      <%= link_to placement.name, placement_path(placement.id), class: 'border-bottom border-primary font-weight-bold' %><br>
                      <%= placement.address %><br>
                      <%= placement.city %>, <%= placement.state %> <%= placement.zip %>
                    </li>
                </ul>
                    <% if current_user && current_user.admin? %><br>
                        <%= link_to 'Edit', edit_placement_path(placement.id), class: 'btn btn-primary' %>
                        <%= link_to 'Delete Placement', placement_path(placement.id), method: :delete, :data => {:confirm => "Are you sure?"}, class: 'btn btn-danger ml-2' %>
                    <% end %>
                
          </div>
        </div>
    </div> 
<% end %>
