<h3>Licensee Details</h3>

<div class='card bg-light col-6 rounded mb-0'>
    <div class='card-body'>
        <h4><%= @licensee.facility_name %></h2>
        <ul class='list-group'>
            <li class='list-group-item'>Contact: <%= @licensee.contact_name %></li>
            <li class='list-group-item'>Phone: <%= @licensee.phone %></li>
            <li class='list-group-item'>Fax: <%= @licensee.fax %></li>
            <li class='list-group-item'><%= @licensee.address %></li>
            <li class='list-group-item'><%= @licensee.city %>, <%= @licensee.state %> <%= @licensee.zip %></li>
        </ul>

        <br>
        <div class='btn btn-primary'>
            <%= link_to 'Edit', edit_licensee_path(params[:id]) %>
        </div>
        <div class='btn btn-danger'>
            <%= link_to 'Delete', licensee_path(params[:id]), method: :delete %>
        </div>
    </div>
</div>



<br>
<% @licensee.comments.each do |c| %>
    <div class='shadow-sm card bg-light col-6 rounded mb-2'>
        <div class='card-body'>
            <ul class='list-group'>
                <li class='list-group-item'><%= c.text %></li>
            </ul>
        <br>
            By: <%= c.user.first_name %> <%= c.user.last_name %><br>
            At: <%= c.created_at.strftime("%-I:%M %P %Z: %-m/%-d/%y") %><br>
            <%= link_to 'Delete', comment_path(c.id), method: :delete, class: 'btn btn-danger mt-2' %>
        </div>
    </div>
<% end %>


<%# List contact info for licensee %>

<%# h3: Associated Placements %>
<%# h4: Call this licensee to refer to the following placements: %>

<%# Show a list with each placement associated with the licensee %>