<h3 class='page-header'>Licensee Details</h3>

<div class='card col-6 rounded mb-3 shadow-sm mx-auto'>
    <div class='card-body'>
        <h4><%= @licensee.facility_name %></h4>
        <ul class='list-group shadow'>
            <li class='font-weight-bold'>Contact Person</li>
            <li class='list-group-item'><%= @licensee.contact_name %></li>
            <li class='font-weight-bold'> Phone</li>
            <li class='list-group-item'><%= @licensee.phone %></li>
            <li class='font-weight-bold'>Fax</li>
            <li class='list-group-item'><%= @licensee.fax %></li>
            <li class='font-weight-bold'>Mailing address</li>
            <li class='list-group-item'><%= @licensee.address %>
            <br>
            <%= @licensee.city %>, <%= @licensee.state %> <%= @licensee.zip %></li>
        </ul>

        <br>
        <% if current_user && current_user.admin? %>
            <div>
                <%= link_to 'Edit Licensee', edit_licensee_path(params[:id]), class: 'btn btn-standard' %>
                <%= link_to 'Delete Licensee', licensee_path(params[:id]), method: :delete, :data => {:confirm => "Are you sure? IMPORTANT: This will also delete all placements associated with this Licensee!"}, class: 'btn btn-danger ml-2' %>
            </div>
        <% end %>
    </div>
</div>


<div class='card col-6 rounded mb-2 shadow-sm mx-auto'>
    <div class='card-body'>
    <h4>Placements</h4>
        <% @licensee.placements.each do |placement| %>
            <div>
                <ul class='list-group shadow'>
                    <li class='list-group-item mt-2 shadow font-weight-bold'>
                        <%= link_to placement.name, placement_path(placement.id), class: 'border-bottom border-primary' %>
                    </li>
                    <li class='list-group-item mt-2 shadow'>
                        <%= placement.address %>, <%= placement.city %>, <%= placement.state %> <%= placement.zip %>
                    </li>
                    <li>
                        <%= link_to 'Add Placement to Cart', add_carts_path(placement_id: placement.id, search: params[:search]), method: :post, class: 'btn btn-standard my-2' %>
                    </li>
                </ul>
            </div>
        <% end %>
    </div>
</div> 
