<!DOCTYPE html>
<html>
  
  <head>
    <title>Placements</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key='+Rails.application.credentials.google_maps_api_key %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%= yield(:head_tags) %>
  </head>

  <body>
    
    
      <h1 class="header">The Home Page</h1>
    
      <div class="navbar row">
        <div class='col'>       
        <% if current_user == nil %>
          <%= link_to 'Log In', new_user_session_path, class: 'btn btn-nav' %>
        <% else %>
          <%= link_to 'Log out', destroy_user_session_path, method: :delete, 
          class: 'btn btn-nav'  %>
        </div>
        <div class='col'> 
          <%= link_to "Edit Profile", edit_profile_path(current_user), 
          class: 'btn btn-nav' %>
        <% end %>
        </div>
        <% if current_user != nil %>
        <div class='col'> 
          <%= link_to 'Home', search_index_path, class: 'btn btn-nav' %>
        </div>  
          <%#= link_to 'Licensees', licensees_path, class: 'btn btn-nav' %>
        <div class='col'>   
          <%= link_to 'Announcements', announcements_path, class: 'btn btn-nav' %>
        </div>
        <div class='col'>   
          <%= link_to 'Cart', cart_path(current_user), class: 'btn btn-nav' %>
        </div>  
          <%#= link_to 'Advanced Search', search_index_path, class: 'btn btn-nav' %>
        <div class='col'>   
          <%= link_to 'Info', "/info", class: 'btn btn-nav' %>
        </div>
        <% end %>
        
        <div> 
          <form action="/" method="get" class="form-inline">
            <input type="text" name="query" id="query" placeholder="Search..." class="form-control nav-search mr-2">
            <input type="submit" value="Go", class='btn btn-nav-search'>
          </form>
        </div>
      </div>
  

    <div class='content' align='center'>
      
      <div align='center'>
        <% if flash[:notice] %>
          <div class='alert alert-success col-6 text-center'><%= flash[:notice] %></div>
        <% end %>
        <% if flash[:alert] %>
          <div class='alert alert-danger mt-2 mb-2 col-6 text-center'><%= flash[:alert] %></div>
        <% end %>
      </div>
      
      <%= yield %>
    </div>
    

    <footer class="page-footer font-small text-white pt-2">
      <div class="container-fluid text-center text-md-left">
        <div class="row">
          
          <div class="col-md-2 mt-md-0">
            <h6 class="text-uppercase">The Home Page</h6>
          </div>
          
          <div class="col-md-2 mt-md-0">
            <p style="padding-bottom:3px">© 2019 <a href="mailto:homepageconnect@gmail.com"> Lauren Sheridan</a></p>
          </div>

          <div class="col-md-2 mb-md-0 mb-3">
            <% if current_user && current_user.admin? %>
              <%= link_to "Admin Tools", admins_path %>
            <% end %>
          </div>
          
        </div>
      </div>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
