<!DOCTYPE html>
<html>
  
  <head>
    <title>Placements</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google_maps_api_key}'%>
    <%= yield(:head_tags) %>
    

  </head>

  <body>
    
    <div class="head-pos">
      <h1 class="header">The Home Page</h1>
    
      <div class="navbar">
       
        <% if current_user == nil %>
          <%= link_to 'Log In', new_user_session_path, class: 'btn btn-nav' %>
        <% else %>
          <%= link_to "Log out: #{current_user.email}", destroy_user_session_path, method: :delete, 
          class: 'btn btn-nav'  %>
          <%= link_to 'Profile', edit_profile_path(current_user), 
          class: 'btn btn-nav' %>
        <% end %>
    
        <% if current_user != nil %>
          <%= link_to 'Placements', placements_path, class: 'btn btn-nav' %>
          <%= link_to 'Licensees', licensees_path, class: 'btn btn-nav' %>
          <%= link_to 'Cart', cart_path(current_user), class: 'btn btn-nav' %>
          <%= link_to 'Announcements', announcements_path, class: 'btn btn-nav' %>
          <%#= link_to 'Advanced Search', search_index_path, class: 'btn btn-nav' %>
        <% end %>
        
        <div>
          <form action="/" method="get" class="form-inline">
            <input type="text" name="query" id="query" placeholder="New Search..." class="form-control mr-sm-2">
            <input type="submit" value="Go", class='btn btn-search'>
          </form>
        </div>
      </div>
    </div>

    <div class='content' align='center'>
      
      <div align='center'>
        <% if flash[:notice] %>
          <div class='alert alert-success col-6 text-center'><%= flash[:notice] %></div>
        <% end %>
        <% if flash[:alert] %>
          <div class='alert alert-danger mt-2 mb-2 col-6 text-center'><%= flash[:alert] %></div>
        <% end %>
      </div>
      
      <%= yield %>
    </div>
    

    <footer class="page-footer font-small text-white pt-2">
      <div class="container-fluid text-center text-md-left">
        <div class="row">
          
          <div class="col-md-2 mt-md-0">
            <h6 class="text-uppercase">The Home Page</h6>
            Find your way home. <br>
            <p style="padding-bottom:3px">© 2019 <a href="mailto:homepageconnect@gmail.com"> Lauren Sheridan</a></p>
            <% if current_user && current_user.admin? %>
              <%= link_to "Admin Tools", admins_path %>
            <% end %>
          </div>

          <div class="col-md-2 mb-md-0 mb-3">
            <h6 class="text-uppercase">Links</h6>
            <ul class="list-unstyled">
              <li>
                <a href="https://www2.ncdhhs.gov/dhsr/mhlcs/facilities.html">DHSR Licensed Facility Listings</a>
              </li>
              <li>
                <a href="https://www.ncdhhs.gov/divisions/social-services/local-dss-directory">DSS Office Directory</a>
              </li>
            </ul>
          </div>
          
          <div class="col-md-2 mb-md-0 mb-3">
            <h6 class="clear"> X </h6>
            <ul class="list-unstyled">
              <li>
                <a href="https://secure.ssa.gov/ICON/main.jsp">SSA Office Directory</a>
              </li>
              <li>
                <a href="https://www.ncdhhs.gov/providers/lme-mco-directory">MCO Directory</a>
              </li>
            </ul>
          </div>

          <div class="col-md-2 mb-md-0 mb-3">
            <h6 class="text-uppercase">Contributors</h6>
            <ul class="list-unstyled">
              <li>Michael Eley</li>
              <li>Tilneil Gary</li>
            </ul>
          </div>
          
          <div class="col-md-2 mb-md-0 mb-3">
            <h6 class="clear"> X </h6>
            <ul class="list-unstyled">
              <li>Alik Lyle</li>
              <li>Marcus Mitchell</li>
            </ul>
          </div>
          
          <div class="col-md-2 mb-md-0 mb-3">
            <% if current_user && current_user.admin? %>
              <%= link_to "Admin Tools", admins_path %>
            <% end %>
          </div>
          
        </div>
      </div>
    </footer>
  </body>
</html>
