<!DOCTYPE html>
<html>
  <head>
    <title>Placements</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
    </div>
    <div class="center pt-3">
      
        <% if current_user == nil %>
          <%= link_to 'Log In', new_user_session_path, class: 'btn btn-info' %>
        <% else %>
          <div class='btn btn-outline-dark'>
            <%= current_user.email %>
          </div>
          <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'btn btn-danger'  %>
        <% end %>
        
        <% if current_user && current_user.admin? %>
          <%= link_to "Admin Tools", admins_path, class: 'btn btn-info' %>
        <% end %>
      
        <%= link_to 'Licensees', licensees_path, class: 'btn btn-info' %>
    
        <%# if current_user != nil %>
            <%#= link_to 'Cart', cart_path(@cart), class: 'btn btn-info' %>
        <%# end %>
    </div>
    <div class="center">
    <%= yield %>
    </div>
    
    <% if current_user != nil %>
      <div class='footer text-center'>
        <%= link_to image_tag('logo.png'), placements_path %>
      </div>
    <% end %>
    <div>
      <br>
    </div>
  </body>
</html>
